@import "../../styles/var.scss";

.cr-overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    transition: visibility .2s, opacity .2s;
    z-index: 999;
    &--show{
        opacity: .8;
        visibility: visible;
    }
}